@font-face {
	font-family: 'KlavikaMediumBold';
	src: url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.eot');
	src: local('?'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.woff') format('woff'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.ttf') format('truetype'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.svg#webfontTWPh10Er') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'KlavikaMediumPlain';
	src: url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.eot');
	src: local('?'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.woff') format('woff'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.ttf') format('truetype'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.svg#webfontTWPh10Er') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'KlavikaRegularPlain';
	src: url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaregular-plain-webfont.eot');
	src: local('?'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaregular-plain-webfont.woff') format('woff'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaregular-plain-webfont.ttf') format('truetype'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaregular-plain-webfont.svg#webfontDvaJrdUe') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KlavikaLightPlain';
	src: url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikalight-plain-webfont.eot');
	src: local('?'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikalight-plain-webfont.woff') format('woff'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikalight-plain-webfont.ttf') format('truetype'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikalight-plain-webfont.svg#webfontpalXHmZY') format('svg');
	font-weight: normal;
	font-style: normal;
}